<form action='<%= secrets_url %>' method='post' id="secret-form">
  <%= authenticity_token %>
  <div class='form-group'>
    <label for="secret_title">Title</label>
    <input type="text" name="secrets[title]" class='form-control'
           id="secret_title" value="<%= secret.title %>">
  </div>

  <input type="hidden" name="secrets[recipient_id]"
         value="<%= recipient.id %>">

  <div class='form-group'>
    <label> Select a Tag
      <a href='#' class='btn btn-info' id='add-select'>Add Another Tag</a>
      <div id="secret-tag-selects"></div>
    </label>
  </div>

  <input type="submit" value="Create Secret" class='btn btn-success'>

</form>
