[submodule "sql/active_record_lite"]
	path = sql/active_record_lite
	url = git@github.com:whastings/active_record_lite.git
[submodule "rails/ninety-nine-cats"]
	path = rails/ninety-nine-cats
	url = git@github.com:whastings/ninety-nine-cats.git
[submodule "rails/music_app"]
	path = rails/music_app
	url = git@github.com:whastings/music-app.git
[submodule "rails/users_and_friends"]
	path = rails/users_and_friends
	url = git@github.com:whastings/users_and_friends.git
[submodule "rails/rails_lite"]
	path = rails/rails_lite
	url = git@github.com:whastings/rails_lite.git
[submodule "rails/reddit_clone"]
	path = rails/reddit_clone
	url = git@github.com:whastings/reddit_clone.git
