<form>
  <label>Title
    <input type="text" name="photo[title]">
  </label>

  <label>URL
    <input type="text" name="photo[url]">
  </label>

  <p><input type="submit" value="Add Photo"></p>
</form>