.container {
  width: 375px;
  height: 375px;
  margin: 0 auto;
}

.cell {
  width: 13px;
  height: 13px;
  border: 1px #999 solid;
  float: left;
}

.snake {
  background-color: #00FF00;
}

.apple {
  background-color: #FF0000;
}
