.friend-buttons button {
  display: none;
}

.can-friend .friend{
  display: block;
}

.can-unfriend .unfriend {
  display: block;
}

.tag-select {
  margin-top: 15px;
}

#add-select {
  margin-left: 15px;
}